{{- $loc := .Get 0 -}}
{{- if $loc -}}
<hr/>
<div style="text-align:center;">
Posts in the <a href="/tags/cppxx">C++ series</a>:
{{- else -}}
<a href="/tags/cppxx">C++</a>
{{- end -}}
{{- range $num := (seq 11 3 23) -}}
    {{- if eq $loc . -}}
        &nbsp;<strong>{{ . }}</strong>
    {{- else -}}
        &nbsp;<a href="/post/cpp-{{ . }}">{{ . }}</a>
    {{- end -}}
{{- end -}}
{{- if $loc -}}
</div>
<hr/>
{{- end -}}
