<!-- 2→3 -->
{{- $loc := .Get 0 -}}
{{- $pages := slice "-upgrade" "7" "8" "9" "10" "11" "12" "13" -}}
{{- if $loc -}}
<hr/>
<div style="text-align:center;">
Posts in the <a href="/tags/pyupgrade">Python Series</a>:
{{- else -}}
<a href="/tags/pyupgrade">Python</a>
{{- end -}}
{{- range $num := $pages -}}
    {{- $title := cond (eq . "-upgrade") "2→3" (printf "%s%s" "3." .) -}}
    {{- if eq $loc . -}}
        &nbsp;<strong>{{ $title }}</strong>
    {{- else -}}
        &nbsp;<a href="/post/python-3{{ . }}">{{ $title }}</a>
    {{- end -}}
{{- end -}}
{{- if $loc -}}
</div>
<hr/>
{{- end -}}
