{{ .Inner }}
{{ $groupId := default "default" (.Get "groupId") }}
<ul class="nav nav-tabs" role="tablist">
  {{ range $idx, $tab := .Scratch.Get "tabs" }}
  <li class="{{ cond (eq $idx 0) "active" ""}}" role="presentation">
    <a href="#{{ $groupId }}-{{ .name | anchorize }}" class="nav-link" role="tab" data-toggle="tab" aria-controls="{{ $groupId }}-{{ .name | anchorize }}">{{ .name }}</a>
  </li>
  {{ end }}
</ul>

<div class="tab-content">
  {{ range $idx, $tab := .Scratch.Get "tabs" }}
    <div class="tab-pane{{ cond (eq $idx 0) " active" "" }}" id="{{ $groupId }}-{{ .name | anchorize }}" role="tabpanel" aria-labelledby="{{ $groupId }}-{{ .name | anchorize }}-tab">{{ .content | markdownify }}</div>
  {{ end }}
</div>
